<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>Messages : View all</title>
</head>
<body>
	<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>ID</td>
					<td>Created</td>
					<td>Summary</td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${list.empty}">
					<td colspan="3">No messages</td>
				</tr>
				<tr th:each="play : ${list}">
					<td th:text="${play.id}">1</td>
					<td th:text="${play.title}">2</td>
					<td><a href="view.html" th:href="@{'/' + ${play.id}}"
						th:text="${play.content}"> The summary </a></td>
				</tr>
			</tbody>
		</table>
</body>
</html>
